#include <windows.h>
#include "resource.h"

IDD_MAIN DIALOGEX 0, 0, 700, 246
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "GW32TIME"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Graphical UI for Windows Time Service", IDC_HEADER_TEXT, 10, 10, 260, 10
    LTEXT "[UAC ?]", IDC_UAC_STATUS, 320, 10, 70, 10
    LTEXT "", IDC_CURRENT_TIME, 430, 10, 260, 10, SS_RIGHT
    LTEXT "Health:", -1, 10, 30, 52, 10
    LTEXT "", IDC_HEALTH, 70, 30, 240, 10
    LTEXT "Service:", -1, 10, 46, 52, 10
    LTEXT "", IDC_SERVICE, 70, 46, 240, 10
    LTEXT "Start:", -1, 10, 62, 52, 10
    LTEXT "", IDC_START, 70, 62, 240, 10
    LTEXT "Type:", -1, 10, 78, 52, 10
    LTEXT "", IDC_TYPE, 70, 78, 240, 10
    LTEXT "Poll:", -1, 10, 94, 52, 10
    LTEXT "", IDC_POLL, 70, 94, 74, 10
    EDITTEXT IDC_POLL_VALUE, 148, 90, 58, 14, ES_NUMBER | WS_TABSTOP
    CONTROL "", IDC_POLL_SPIN, "msctls_updown32", UDS_ALIGNRIGHT | UDS_SETBUDDYINT | UDS_ARROWKEYS | WS_TABSTOP, 0, 0, 12, 14
    PUSHBUTTON "Apply Poll", IDC_POLL_APPLY, 214, 90, 70, 14
    LTEXT "Servers:", -1, 10, 110, 52, 10
    LTEXT "Every", IDC_REALTIME_EVERY, 330, 96, 28, 10, WS_GROUP
    EDITTEXT IDC_REALTIME_SECONDS, 360, 92, 38, 14, ES_NUMBER | WS_TABSTOP
    CONTROL "", IDC_REALTIME_SPIN, "msctls_updown32", UDS_ALIGNRIGHT | UDS_SETBUDDYINT | UDS_ARROWKEYS | WS_TABSTOP, 0, 0, 12, 14
    LTEXT "seconds", IDC_REALTIME_UNIT, 404, 96, 44, 10
    LTEXT "|", -1, 460, 95, 8, 10
    CONTROL "Realtime Check", IDC_REALTIME_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 468, 94, 88, 12
    LTEXT "|", -1, 584, 95, 8, 10
    PUSHBUTTON "Check Servers", IDC_PROBE_ALL, 592, 92, 98, 14
    CONTROL "", IDC_SERVERS_TABLE, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 70, 110, 620, 100
    PUSHBUTTON "Service", IDC_SERVICE_MENU, 70, 216, 44, 14
    CTEXT "|", -1, 117, 217, 6, 10
    PUSHBUTTON "Backup && Restore", IDC_BACKUP_MENU, 126, 216, 86, 14
    CTEXT "|", -1, 215, 217, 6, 10
    PUSHBUTTON "Sync Now", IDC_SYNC, 224, 216, 56, 14
    CTEXT "|", -1, 283, 217, 6, 10
    PUSHBUTTON "Add", IDC_ADD_SERVER, 292, 216, 38, 14
    PUSHBUTTON "Update", IDC_UPDATE_SERVER, 334, 216, 42, 14
    PUSHBUTTON "Delete", IDC_DELETE_SERVER, 380, 216, 44, 14
    CTEXT "|", -1, 427, 217, 6, 10
    PUSHBUTTON "Apply Servers", IDC_APPLY_SERVERS, 436, 216, 80, 14
    CTEXT "|", -1, 519, 217, 6, 10
    PUSHBUTTON "Date && Time", IDC_SET_TIME, 528, 216, 70, 14
    CTEXT "|", -1, 601, 217, 6, 10
    PUSHBUTTON "Exit", IDC_EXIT, 610, 216, 80, 14
END

IDD_SERVER_EDIT DIALOGEX 0, 0, 240, 148
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Server Entry"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Server:", -1, 10, 12, 42, 10
    EDITTEXT IDC_DIALOG_SERVER, 56, 10, 174, 14, ES_AUTOHSCROLL
    CONTROL "Client (0x8)", IDC_DIALOG_FLAG_CLIENT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 34, 110, 10
    CONTROL "Special interval (0x1)", IDC_DIALOG_FLAG_SPECIAL, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 48, 110, 10
    CONTROL "Fallback only (0x2)", IDC_DIALOG_FLAG_FALLBACK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 62, 110, 10
    CONTROL "Symmetric active (0x4)", IDC_DIALOG_FLAG_SYMMETRIC, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 76, 110, 10
    PUSHBUTTON "Check", IDC_DIALOG_CHECK, 10, 120, 44, 14
    PUSHBUTTON "Delete", IDC_DIALOG_DELETE, 58, 120, 44, 14
    DEFPUSHBUTTON "OK", IDOK, 128, 120, 48, 14
    PUSHBUTTON "Cancel", IDCANCEL, 182, 120, 48, 14
END

IDD_SET_TIME DIALOGEX 0, 0, 260, 78
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Set Date and Time"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Date:", -1, 10, 12, 34, 10
    CONTROL "", IDC_SET_DATE_VALUE, "SysDateTimePick32", DTS_SHORTDATEFORMAT | WS_TABSTOP, 46, 10, 98, 14
    LTEXT "Time:", -1, 150, 12, 34, 10
    CONTROL "", IDC_SET_CLOCK_VALUE, "SysDateTimePick32", DTS_TIMEFORMAT | WS_TABSTOP, 186, 10, 64, 14
    DEFPUSHBUTTON "OK", IDOK, 148, 52, 48, 14
    PUSHBUTTON "Cancel", IDCANCEL, 202, 52, 48, 14
END
