#include <windows.h>
#include "resource.h"

IDD_MAIN DIALOGEX 0, 0, 520, 292
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "GW32TIME"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Graphical UI for Windows Time Service", -1, 10, 10, 220, 10
    LTEXT "Health:", -1, 10, 30, 52, 10
    LTEXT "", IDC_HEALTH, 70, 30, 240, 10
    LTEXT "Service:", -1, 10, 46, 52, 10
    LTEXT "", IDC_SERVICE, 70, 46, 240, 10
    LTEXT "Start:", -1, 10, 62, 52, 10
    LTEXT "", IDC_START, 70, 62, 240, 10
    LTEXT "Type:", -1, 10, 78, 52, 10
    LTEXT "", IDC_TYPE, 70, 78, 240, 10
    LTEXT "Servers:", -1, 10, 94, 52, 10
    CONTROL "", IDC_SERVERS_TABLE, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 70, 94, 440, 116
    LTEXT "Poll:", -1, 10, 124, 52, 10
    LTEXT "", IDC_POLL, 70, 124, 120, 10
    LTEXT "Server:", -1, 10, 218, 52, 10
    EDITTEXT IDC_SERVER_EDIT, 70, 216, 190, 14, ES_AUTOHSCROLL
    LTEXT "Flags:", -1, 270, 218, 32, 10
    EDITTEXT IDC_FLAGS_EDIT, 305, 216, 60, 14, ES_AUTOHSCROLL
    PUSHBUTTON "Add", IDC_ADD_SERVER, 372, 216, 36, 14
    PUSHBUTTON "Update", IDC_UPDATE_SERVER, 412, 216, 46, 14
    PUSHBUTTON "Delete", IDC_DELETE_SERVER, 462, 216, 48, 14
    PUSHBUTTON "Probe all", IDC_PROBE_ALL, 70, 238, 56, 14
    PUSHBUTTON "Apply servers", IDC_APPLY_SERVERS, 130, 238, 66, 14
    PUSHBUTTON "Refresh", IDC_REFRESH, 200, 238, 48, 14
    PUSHBUTTON "Sync now", IDC_SYNC, 252, 238, 48, 14
    PUSHBUTTON "Backup", IDC_BACKUP, 304, 238, 48, 14
    PUSHBUTTON "Restore", IDC_RESTORE, 356, 238, 48, 14
    PUSHBUTTON "Test", IDC_TEST, 408, 238, 48, 14
    PUSHBUTTON "Exit", IDC_EXIT, 460, 238, 48, 14
END
